.bg-dark-blue{
  background: #1e3f7f;
}

.text-gold{
  color: #e7cb3c;
}

.nav-item a{
  color: #e7cb3c;
}

.nav-item a:hover{
  color: #ad9c44;
}

.navbar-btn{
  background-color: #e7cb3c;
  padding: 6px;
  color: #1e3f7f;
  font-weight: bold;
}

.navbar-btn:hover{
  background-color: white;
}
